<div
  class="card w-7 mt-8 formgrid grid h-full m-auto aling-items-center justify-content-center gap-5 p-5"
>
  <div class="field col-12 md:col-5">
    <label for="username">Grado Académico</label>
    <p-autoComplete
      [suggestions]="suggestions"
      (completeMethod)="search($event)"
    ></p-autoComplete>
  </div>
  <div class="field col-12 md:col-5">
    <label for="username">Lugar de Trabajo</label>
    <p-autoComplete
      [dropdown]="true"
      [suggestions]="filteredCountries"
      (completeMethod)="filterCountry($event)"
      field="name"
    ></p-autoComplete>
  </div>
  <div class="field col-12 md:col-5">
    <label for="username">Salario</label>
    <input pInputText id="username" aria-describedby="username-help" />
  </div>
  <div class="field col-12 md:col-5 mb-3">
    <label for="username">Años de Experiencia</label>
    <p-inputNumber id="username" aria-describedby="username-help" />
  </div>
  <p-button type="submit" label="Finalizar" icon="pi pi-arrow-right"></p-button>
</div>
