<div class="card flex flex-wrap justify-content-center gap-3 p-5">
  <input placeholder="Ingrese DNI" #DNIUser pInputText />
  <p-button
    (click)="searchUser(+DNIUser.value)"
    type="button"
    label="Buscar"
    icon="pi pi-search"
  ></p-button>
</div>
<div
  [formGroup]="personalInformationForm"
  (ngSubmit)="next()"
  class="card w-7 m-auto flex flex-column aling-items-center justify-content-center gap-5 p-5"
>
  <div class="flex flex-column gap-2">
    <label for="name">Nombres</label>
    <input formControlName="name" pInputText />
  </div>
  <div class="flex flex-column gap-2">
    <label for="username">Apellidos</label>
    <input formControlName="lastName" pInputText />
  </div>
  <div class="flex flex-column gap-2">
    <label for="username">Edad</label>
    <input formControlName="age" pInputText />
  </div>
  <div class="flex flex-column gap-2 mb-3">
    <label for="city">Ciudad</label>
    <input formControlName="city" pInputText />
  </div>
  <!-- <pre> {{ personalInformationForm.errors | json }} </pre> -->
  <p-button type="submit" (click)="next()" label="Siguiente" icon="pi pi-arrow-right"></p-button>
</div>
