<div class="card flex flex-wrap justify-content-center gap-3 p-5">
  <p-inputNumber placeholder="Ingrese DNI" pInputNumber />
  <p-button type="button"label="Buscar" icon="pi pi-search"></p-button>
</div>
<div class="card w-7 m-auto flex flex-column aling-items-center justify-content-center gap-5 p-5">
  <div class="flex flex-column gap-2">
    <label for="username">Nombres</label>
    <input pInputText id="username" aria-describedby="username-help" />
    <small id="username-help"
      >Enter your username to reset your password.</small
    >
  </div>
  <div class="flex flex-column gap-2">
    <label for="username">Apellidos</label>
    <input pInputText id="username" aria-describedby="username-help" />
    <small id="username-help"
      >Enter your username to reset your password.</small
    >
  </div>
  <div class="flex flex-column gap-2">
    <label for="username">Edad</label>
    <input pInputText id="username" aria-describedby="username-help" />
    <small id="username-help"
      >Enter your username to reset your password.</small
    >
  </div>
  <div class="flex flex-column gap-2 mb-3">
    <label for="username">Ciudad</label>
    <input pInputText id="username" aria-describedby="username-help" />
    <small id="username-help"
      >Enter your username to reset your password.</small
    >
  </div>
  <p-button type="submit" label="Siguiente" icon="pi pi-arrow-right"></p-button>
</div>

